.default-btn
	display: inline-flex
	align-items: center
	white-space: nowrap
	border-radius: 6px
	border: 1px solid var(--main-color)
	font-weight: 500
	transition: background-color .4s ease, color .4s ease, border-color .4s ease
	font-size: em(14)
	padding: em(12) em(29) em(13)
	line-height: inherit
	cursor: pointer
	background-color: var(--main-color)
	color: #fff

