<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title MMI
		include inc/head.pug
		include inc/css.pug
	body.inner.mmi.loading
		include inc/header-case.pug
		main#content
			section.screen-cont.screen-cont--main
				.wrapper
					.screen
						.screen-text 
							span Используемые технологии:
							| Битрикс24, Computer Vision, SEO, Контекстная реклама, Яндекс.Маркет
						.screen-subtitle За год магазин поменял 3 руководителя и в итоге решил сделать
						h1.screen-title «Магазин без директора»

						.screen-blockquote «Несколько лет мы ежедневно сталкивались с однотипными проблемами. Недостаточно заявок от клиентов, мало продаж, много потерянных клиентов и персонал, который постоянно пытался обмануть систему.<br> Мы искали решение в людях: нанимали директоров, консультировали и общались, но люди всегда лояльны к другим людям и допускают ошибки. Решение проблем было в технологиях, которые не обмануть и не убедить. Надеемся на еще большее внедрение IT и что наш опыт будет полезен для коллег.»

						.screen-reviews 
							a(href="") Отзыв руководства интернет-магазина MMI
			section.screen-cont.screen-cont--story
				.wrapper
					.screen
						.screen-text MMI — небольшой интернет-магазин с двумя оффлайн-точками продаж в Челябинске. Основная деятельность компании — продажа электроники, умной бытовой техники, гаджетов, смартфонов, а также ремонт электроники. До нашего сотрудничества компания была знакома с IT-сферой, но довольно ограниченно. Был сайт с товарами, подключены некоторые каналы продвижения.

						.screen-solution__list
							.screen-solution__item
								.ss__text Руководство магазина обратилось к нам для полной реализации отдела продаж  и внедрения инструментов, позволяющих больше контролировать сотрудников. Клиент хотел владеть полной информацией по эффективности сотрудников, каналов продвижения и состоянию магазина. Всегда актуально и быстро.

							.screen-solution__item
								.ss__text Мы начали с обновления сайта  для привлечения трафика (почитать об этом подробнее можно здесь), а сейчас полностью внедрили технологии в ежедневную деятельность клиента и всех его сотрудников.

			section.screen-cont.screen-cont--problem
				.wrapper
					.screen
						.screen-title Проблемы<br> и запрос клиента
						.screen-text Компании приходят к нам с проблемами, а мы, в свою очередь, выясняем причины и устраняем именно их, предлагая различные варианты решения. В MMI выявлены проблемы, которые зачастую встречаются у представителей онлайн и офлайн ритейла:
						.sp-stage
							.sp-stage__list
								.sp-stage__item мало заявок;
								.sp-stage__item низкий % продаж по отношению ко всем заявкам. То есть низкая конверсия;
								.sp-stage__item обращения долго и сложно обрабатываются. Из-за этого клиенты<br> часто уходят к конкурентам;
								.sp-stage__item сотрудники так или иначе старались обхитрить систему:<br> меньше работать, - больше получать - всегда прикрывали друг друга;
								.sp-stage__item долго собиралась нужная информация, громоздкие и долгие отчеты, долго собиралась нужная информация, громоздкие и долгие отчеты,

			section.screen-cont.screen-cont--solution
				.wrapper
					.screen
						.screen-title Предлагаемое<br> решение
						
						.sp-stage
							.sp-stage__list
								.sp-stage__item Подключили новые каналы трафика: SEO-оптимизация сайта, контекстная реклама и Яндекс.маркет, Авито. Сейчас 95% всех продаж происходят с этих каналов.
								.sp-stage__item Изучили процесс продаж и оптимизировали. Заявки со всех каналов собираются в одну систему. Видна вся история обращений и максимально вся информация: количество звонок, их продолжительность, длительность реакции на заявку.
								.sp-stage__item Акцентировали внимание на скорости реакции на заявки, скорости и проценты закрытых заявок. Создали отдельную систему отчетов и ввели персональную ответственность за каждую заявку. Автоматические напоминания сотрудникам о просроченной заявке. Если заявка неотвеченные больше 40 минут, то система звонит на телефон сотруднику.
								.sp-stage__item Создали новый продукт на основе компьютерного зрения для постоянного мониторинга пространства магазина.
								.sp-stage__item Автоматическая система отчетов, интегрированная со всеми рабочими программами. Всегда актуальные отчеты в любое время.

			section.screen-cont.screen-case.screen-cont--telephony
				.wrapper
					.screen
						.screen-title Телефония
						.screen-problem
							.screen-label проблемы
							.screen__text
								ul
									li 2 разные оффлайн точки с меняющимся составом персонала;
									li Не всегда понятен конечный ответственный за звонок.
									li Потеря информации по пути следования заявки. Если ответили на звонок, и сделка сорвалась — непонятна причина отказа. Если сделка состоялась, то какая-то информация могла быть потеряна, например, на какую дату забронировали, какой товар или какой итог разговора
							a(href="#call").st__btn.fancybox 
								span Нужны результаты?<br> Свяжитесь с нами
						.screen-solution
							.screen-solution__img
								img(src="img/photos/st-solution-img-1.jpg")
								img(src="img/photos/st-solution-img-2.jpg")
							.screen-solution__info
								.screen-label Решение
								.screen__text Оптимальным решением<br> стала телефония Mango в связке с<br> Битрикс24 и умным распределением<br> звонков и заявок.
								.screen-solution__list
									.screen-solution__item
										.ss__title Автоматическое<br> распределение заявок
										.ss__text При звонке клиента программа в первую очередь анализирует загруженность и эффективность персонала, затем назначает наиболее свободного менеджера ответственным за звонок. Таким образом, система автоматически поддерживает равные показатели продаж у менеджеров.
									.screen-solution__item
										.ss__title Понятное и прозрачное<br> движение заявки
										.ss__text Настроили систему таким образом, чтобы после завершения разговора менеджер смог указать, куда направлен звонок — на сделку или ее отмену. Добавили возможность указывать причину отказа от покупки. Основные важные показатели автоматически проставляются при звонке и позволяют анализировать причины провалов и успехов.
									.screen-solution__item
										.ss__title Полная автоматизация
										.ss__text Система сама определит откуда пришла заявка, создаст сделку в CRM, определит время звонка и назначит ответственного менеджера. Внедрено автоматическое распознавание звонков и их проверка на: соответствие скриптам продаж, уровень языка и цензуру. Например, при выявлении некультурной речи руководитель сразу же получит уведомление о нарушении.
									.screen-solution__item
										.ss__title Возможность проверки<br> совершенных звонков
										.ss__text В случае проверки работы менеджеров или для сверки информации любой звонок можно повторно прослушать
			.promo-line
			section.screen-cont.screen-case.screen-cont--collection
				.wrapper
					.screen
						.screen-title Сбор и распределение<br> заявок по менеджерам
						.screen-problem
							.screen-label проблемы
							.screen__text
								ul
									li неэффективное использование каналов продвижения. Все инструменты работали самостоятельно, заявки собирались в разных сервисах;
									li бессистемная работа с поступающими заявками. Из-за разных мест сбора заявок часть оставалась без ответа, как следствие, потенциальные клиенты выбирали конкурентов;
									li потеря заявок
							a(href="#callback").st__btn.fancybox Нужны результаты?<br> Свяжитесь с нами
						.screen-solution
							.screen-solution__img
								img(src="img/photos/st-solution-img-3.jpg", alt="")
								img(src="img/photos/st-solution-img-4.jpg", alt="")
							.screen-solution__info
								.screen-label Решение
								.screen-solution__list
									.screen-solution__item
										.ss__title Единая CRM-система<br> работы с заявками
										.ss__text Собрали заявки со всех каналов продвижения: SEO, контекстная реклама, таргетированная реклама, соц.сети, мессенджеры, звонки - в одну CRM систему. В едином портале менеджеру доступна информация об источнике заявки и ее содержании.
									.screen-solution__item
										.ss__title Автоматическое назначение<br> ответственного менеджера
										.ss__text Как и при настройке телефонии, за каждой заявкой закрепляется ответственный. Для стимулирования быстрой обработки заявок менеджеру назначается ограниченное время для ответа на обращение. Если время обработки заявки подходит к концу, программа напомнит об окончании времени c помощью уведомления или звонка на личный телефон менеджера, ответственного за сделку. Пропустить заявку — невозможно.
									.screen-solution__item
										.ss__title Увеличение количества каналов продвижения
										.ss__text Настроили работу с уже используемыми каналами продвижения. И подключили новые — мессенджеры: Вконтакте, Facebook, Авито и JivoSite.
					.circle
						img(src="img/circle.png")

			section.screen-cont.screen-cont--report
				.wrapper
					.screen
						.screen-title Отчеты для<br> руководства
						.screen-label проблемы
						.screen__text
							ul
								li Долгий сбор информации для отчетов, отсутствие единого формата и конкретного ответственного за отчетность. 
								li Все данные собирались разными сотрудниками вручную: топ-менеджер собирал аналитику по продажам, бухгалтер по состоянию финансов, маркетолог по каналам продвижения и т. п., поэтому понимание общей картины появлялось у руководства 1-2 раза в месяц.
						.screen-solution
							.screen-label Решение
							.screen-solution__list
								.screen-solution__item
									.ss__title Ежедневные отчеты,<br> собираемые автоматически
									.ss__text Актуальная информация должна быть в постоянном доступе для принятия верных управленческих решений. Именно поэтому система настроена  таким образом, чтобы руководители в одном окне видели всю необходимую информацию

								.screen-solution__item
									.ss__title Отчеты приходят всем участникам процесса несколько раз в день по самым важным показателям
									.ss__text Система анализирует проблемные зоны и указывает на них. Помимо руководства отчеты доступны и рядовым сотрудникам, это стимулирует дух здорового соперничества. Сотрудники видят результаты других и соревнуются между собой. Понимая, что систему не обмануть, сотрудники работают лучше

						.screen__img
							img(src="img/photos/st-solution-img-5.jpg", alt="")
			section.screen-cont.screen-cont--services
				.wrapper
					.screen
						.screen-title Высокотехнологичные сервисы
						.screen-text Продолжая работать с клиентом, мы разрабатываем новые решения для повышения эффективности и увеличения прибыли компании. Уже сейчас внедрен сервис, который:
						.screen-solution
							.screen-solution__list
								.screen-solution__item
									.ss__text автоматически прослушивает звонки и читает сообщения, делает выводы и фиксирует нарушения, выявляет аномалии дает рекомендации на ручную проверку руководителю;
								.screen-solution__item
									.ss__text с помощью компьютерного зрения анализирует время простоя, количество клиентов, время отсутствия менеджеров в зале и т. п., а всю информацию предоставляет в виде отчета;
								.screen-solution__item
									.ss__text оценивает эффективность каждого сотрудника: количество закрытых лидов, время простоя, скорость ответа, быстрота совершения сделки, эффективность каждого рабочего дня.
								.screen-solution__item
									.ss__text
										b Актуально в условиях распространения COVID-19<br> 
										| тестируем фиксацию температуры тела всех посетителей. При выявлении отклонений системы оповещает всех сотрудников о нарушении;
							.screen-solution__video
								a(href="").fancybox
									img(src="img/photos/st-solution-img-6.jpg")
						.screen-text Также разработана систему уведомлений руководителя о критических ситуациях в оффлайн-точках. Например, если за кассой никого нет, но есть покупатели в зале, то руководителю придет уведомление по email. Подобные сообщения позволят проконтролировать ситуацию удаленно
						.screen__img
							figure
								img(src="img/photos/st-solution-img-7.jpg", alt="")
								figcaption В магазине много покупателей, нужно проявить бОльшую активность
							figure
								img(src="img/photos/st-solution-img-8.jpg", alt="")
								figcaption Покупатели есть, но за кассой нет персонала

			section.screen-cont.screen-cont--statistics
				.wrapper
					.screen
						.screen-title Результат<br> нашей работы
						.screen-text За время работы с клиентом увеличили
						.statistics
							.statistics__list
								.statistics__item
									.statistics__item-info
										.statistics__item-num(data-from="0" data-to="32,4") 32,4%
										.statistics__item-title Количество лидов — на 32,4%
										.statistics__item-text за счет качественной SEO-оптимизации, настроенной контекстной рекламы и работы с маркетплейсом Яндекс.маркет и Авито - оставили только эффективные источники
								.statistics__item
									.statistics__item-info
										.statistics__item-num(data-from="0" data-to="20") 20 %
										.statistics__item-title Успешность закрытия лидов — на 20% 
										.statistics__item-text за счет полного контроля движения лидов и контроля/мотивации персонала
								.statistics__item
									.statistics__item-info
										.statistics__item-num(data-from="0" data-to="50") 50 %
										.statistics__item-title Заявки с сайта (в соотношении к общим) 35% до 50%
								.statistics__item
									.statistics__item-info
										.statistics__item-num(data-from="0" data-to="15") 15 %
										.statistics__item-title Заявки с сайта (в соотношении к общим) — на 15% (за счет редизайна и переработки сайта)
								.statistics__item
									
									.statistics__item-info
										.statistics__item-num(data-from="0" data-to="50") 50 %
										.statistics__item-title Увеличение выручки на 50%
								.statistics__item
									.statistics__item-info
										.statistics__item-num(data-from="0" data-to="18") 
											span с 
											| 18% 
											span до 
											| 0%
										.statistics__item-title Сократили необработанные лиды
										.statistics__item-text за счет системы контроля, уведомлений и напоминаний - пропустить заявку невозможно
								.statistics__btn 
									a(href="") Выявили неэффективный персонал и обновили команду

			section.screen-cont.screen-cont--final
				.wrapper
					.screen
						.screen-title Итоги<br> автоматизации
						.screen-text
							p 95% всех покупок совершаются не в магазине, а на сайте, в чате или по телефону. Мы добились этого за счет комплексного подхода к продвижению магазина и качества используемых инструментов.
							p Внутри компании клиента внедрен комплекс систем, который показывает движение заявок и лидов с момента обращения и до принятия решения о покупке товара. В каждую секунду можно посмотреть статус сделки, и полную информацию по конкретному обращению.
							p Такая выстроенная внутренняя работа без увеличения трафика в магазин, кратно увеличила прибыль клиента. И теперь можно более эффективно вкладывать ресурсы в маркетинг и продвижение. 
						a(href="#call").fancybox.btn 
							span Нужны результаты?<br> Свяжитесь с нами
						.screen__img
							img(src="img/final-img.png", alt="")
						





				
		include inc/footer.pug
		include inc/scripts.pug

include inc/forms.pug